* {
    font-family: 'Lato', sans-serif;
}

#navbar {
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f4ff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
/* #logo{
    width: 90%;
    margin-top: 10%;
  } */
img {
    width: 80%;
}

#cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
body{
    margin-top: 10%;
}
h1 {
    margin-left: 6%;
}

#container {
    width: 90%;
    margin: 2% 5%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#amt-cont {
    margin-left: 1.9%;
}

#order-summary>p>span {
    color: gray;
}

#order-summary {
    margin-right: 25%;
}

#cart-prod-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 4rem; */
    margin: auto;
    width: 90%;
    padding-right: 40%;
}

#cart-prod-cont>img {
    width: 10%;
}

hr {
    width: 60%;
    margin-left: 0.5%;
    color: #cecece;
}

#quantity-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    /* margin-right: 15%; */
}


#quantity-info>button {
    background: transparent;
    border: 0;
}

#remove-from-cart {
    background-color: black;
    color: white;
    font-size: x-small;
}

#img+p {
    width: 30%;
}

#checkout-button {
    color: white;
    background-color: black;
    width: auto;
    height: 35px;
}
#cart-count {
    position: absolute;
    background-color: black;
    color: rgb(255, 255, 255);
    top: 17.5px;
    left: 74%;
    text-align: center;
    width: 15px;
    border-radius: 50%;
}
@media (min-width: 600px) and (max-width: 1000px){
    #navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body{
        margin-top: 20%;
    }
    #cart-prod-cont{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media (min-width: 200px) and (max-width: 599px){
    #navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body{
        margin-top: 35%;
    }
    #cart-prod-cont{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}