*{
    margin:0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
}
#main{
    width:100%;
    height:1050px;
    background-color: #F5F5F5;
}
#container{
    width:350px;
    height:1020px;
    
    margin-top:20px;
    margin:auto;
    
}
#social{
    width:100%;
    height:150px;
    
    margin-top:60px;

}
#heading{
    width:100%;
    height:40px;
    margin-top:6px;
    
}
#heading>h3{
    /* font-family: "latobold"; */
    font-weight: normal;
    text-align: center;
}
#heading>div{
    height:0.90px;
    width:100px;
    margin:auto;
    background-color: #AB47BC;
    margin-top: 10px;;
}
#FandG{
    width:100%;
    height:60px;

    display:flex;
    justify-content: space-around;
    margin-top:9px;
}
.box{
    width:160px;
    height:65%;
    border:1px solid grey;
    margin-top:5px;
    background-color: white;
    display: flex;

}
.box>div:nth-child(1){
    width:18%;
    height:60%;
    
    margin-top:7px;;
    margin-left:5px;
    
}
.box>div:nth-child(1)>img{
    width:100%;
    height:100%;
}
.box>div:nth-child(2){
    width:70%;
    height:55%;
    
    margin-top:9px;
    margin-left:4px;
}
.box>div:nth-child(2)>a>h4{
    text-align: center;
    /* font-family:InterSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    color:#BDBDBD;
    margin-top:2px;
}
.box>div:nth-child(2)>a{
            
    text-decoration: none;

}
#or{
    width:100%;
    height:25px;
    margin-top: 6px;;
    display:flex;
    justify-content:center;
    align-items: center;
}
#or>div:nth-child(1){
    width:50px;
    height:1px;
    background-color:#BDBDBD ;
   margin-right:25px;
}
#or>div:nth-child(3){
    width:50px;
    height:1px;
    background-color:#BDBDBD ;
    margin-left:25px;
}
#or>div:nth-child(2)>h4{
    /* font-family:InterSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    color:#9E9E9E;
    font-weight: 300;
}
#form{
    width:100%;
    height:550px;
    
    margin-top: 2px;;
}
#number{
    width:100%;
    height:80px;
    
    margin-top: 20px;
    display:flex;
    
    align-items: center;
}
#isd{
    width:60px;
    height:100%;
    
}
.input-heading{
    line-height: 18px;
    /* font-family:InterSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    color:#6A1B9A;
    font-size: large;
    font-weight:normal;
}
#isdno{
    width:95%;
    height:50%;
    margin-top:13px;
    background-color: white;
    border:1px solid grey;
    border-radius: 2px;
    
}
#isdno>p{
    font-size: larger;
    margin-top: 8px;
    margin-left: 8px;
}
#mobile{
    width:313px;
    
    height:100%;
    margin-left:25px;
}
.input{
    width:100%;
    height:50%;
    margin-top:13px;
    border:1px solid grey;
    border-radius: 2px;;
}
#email-box{
    width:100%;
    height:80px;
    
    margin-top:15px;
}
#name{
    width:100%;
    height:80px;
    
    margin-top:15px;
    display: flex;
    justify-content: space-between;
}
.child{
    
    width:46%;
}

#verify{
    width:100%;
    height:10px;
    
    display: flex;
    justify-content: space-evenly;
}
#radio{
    width:100%;
    height:20px;
    
    display: flex;
    
}
#radio>div:nth-child(1){
    display: flex;
    
    width:100px;
}
#radio>div:nth-child(2){
    display: flex;
    
    width:120px;
}
#radio>div:nth-child(3){
    display: flex;

    width:180px;
}
.rchild{
    margin-top: 2px;
    margin-left:15px;
}
.rchild>h5{
    font-weight:400;
}
#register>div:nth-child(1){
    width:100%;
        height:120px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 20px;
        display:flex;
        background-color: #C8E6C9;
        align-items: center;
}
#register>div:nth-child(1)>div:nth-child(1){
    
    width:5%;
    margin-left:20px;
    height:80%;
}

#register>div:nth-child(1)>div:nth-child(2){
    
    width:83%;
    height:80%;
    margin-left:10px;
}
#register h3{
    /* font-family:InterSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif; ; */
    color:#6A1B9A;
    font-size: large;
}
#register>div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    
    height:60%;
    margin-top:8px;
}
#register>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p{
    /* font-family:InterSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size:small ;
}
#submit{
    width:100%;
    margin-top:20px;
    border-radius: 20px;
    height: 50px;;
    font-size: larger;
    font-weight: bold;
    color:white;
    background-color:#AB47BC ;
    border:0px;
}
#Already{
    width:100%;
    height:20px;
    display:flex;
    
    justify-content: center;
    margin-top: 20px;
    /* font-family:InterSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: small ;
}
#Already>div:nth-child(2){
    color:#AB47BC
}